<html>
<head>
  <title>Error</title>
</head>
<body>
<h1>No Input</h1>
  <p>Please input one or more control time before submitting or displaying.</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
